# Ignore macOS store file
/.DS_Store
/my-snippets/.DS_Store
/lua/.DS_Store
/lua/modules/.DS_Store
/lua/modules/completion/.DS_Store
/lua/modules/editor/.DS_Store

# Ignore local format config
/format_disabled_dirs.txt

# Ignore old config
/backup/*
